*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display:inline-flex;
    flex-wrap: wrap;
    
}
.card {
    justify-content: space-between;
    align-content: space-between;
    height: auto;
    width: 200px;
    height: 200px;
    margin: 15px;
    box-shadow: 5px 5px 20px;
    overflow: hidden;
    border-radius: 13px;
    margin-left: 10%;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 13px;
}
h1{
    display: block;
}