*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}
.row {
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 53,33333333333333px;
    color: #3957f1;
}

.col {
    align-items: center;
    text-align: center;
}

@media (max-width: 991px){
    .row {
        flex-direction:column-reverse;
        text-align: center;
    }
}

