*{
    width:80em;
    height: auto;
}
body{
    width: 80 vw;
    height: 80 vh;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 150px;
}
.container{
    width: 80 vw;
    height: 80 vh;
    margin-top: 20px;
    display:inline-block;
    justify-content: center;
   
    }
.card {
    display:inline-flex;
    justify-content: center;
    width: 97.5%;
    height: auto;
    margin: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    }

.card__section1__img1{

    width: 65%;
    height: 65%;
    background-color: #ecedf1;
    }
.card__section2__img2{
    width: 65%;
    height: 65%;
    background-color: #ecedf1
    }
.card__section3__img3{
    width: 65%;
    height: 65%;
    background-color: #ecedf1
    }
    .titulo{
        width: 97.5%;
        height: 14vh;
        background: #ecedf1;
        posicion:fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(39, 39, 242);
        margin-top: 25px; 
        margin-right: 70px;
        margin-left: 20px;
        
        }
        
        h1{
    padding-top: 10px;        
    padding-bottom: 17px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items:baseline;
    border: solid rgb(39, 39, 242);
    border-radius: 15px;
    font-size: 4rem;

    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(39, 39, 242);
    cursor: default;
    transition: all 2900ms ease;
     }

    .section1{
       padding: 20px 20px;
       margin-right: 20px;
       display:-ms-inline-flexbox;
       text-align: center;
       border: solid rgb(39, 39, 242);
       overflow: hidden;
        box-shadow: 0px 1px 10px rgb(39, 39, 242);
        cursor: default;
        transition: all 700ms ease;
        line-height: 1.5;
        border-radius: 15px;
         }
   
    .section2{
        padding: 20px 20px;
        margin-right: 20px;
        display: block;
        text-align: center;
        border: solid rgb(39, 39, 242);
        overflow: hidden;
        box-shadow: 0px 1px 10px rgb(39, 39, 242);
        cursor: default;
        transition: all 700ms ease;
        line-height: 1.5;
        border-radius: 15px;
        }
       
     .section3{
        padding: 20px 20px;
        margin-right: 1px;
        display: block;
        text-align: center;
        border: solid rgb(39, 39, 242);
        overflow: hidden;
        box-shadow: 0px 1px 10px rgba(39, 39, 242, 1.5);
        cursor: default;
        transition: all 700ms ease;
        line-height: 1.5;
        border-radius: 15px;
        }
    
     .card__section1__h3{
        color: rgb(39, 39, 242);
        font-size: small;
        font-family:Arial, Helvetica, sans-serif;
    }

     .card__section2__h3{
        font-size: small;
        color: rgb(39, 39, 242);
        font-family:Arial, Helvetica, sans-serif;
     }
     .card__section1__h3{
        font-size: small;
        color: rgb(39, 39, 242);
        font-family:Arial, Helvetica, sans-serif;
     }
     .card:hover{
        box-shadow: 0px 1px 10px rgb(39, 39, 242);
        transform: translateY(-4%);
    }